# Entornos virtuales
env/
venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de configuración de entorno
.env

# VSCode config
.vscode/

# PyCharm config
.idea/

# Archivos de entorno de virtualenv
*.venv
pyvenv.cfg

# Archivos temporales
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
